/* GENERALES */
@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-Regular.ttf');
}

html{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat';
}
*,*:before,*:after{
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}
/* TODO */




/* TITULO */
.titulo{
    color:  #4E5150;
    margin: 30px 0;
    text-align: left;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.contenedor-muestra{
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 30px;
    margin: 0 auto;
}
.muestra {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.muestra img {
    width: 50%;
    border-radius: 10px;
}
.muestra-datos{
    display: flex;
    flex-direction:column;
    width: 50%;
    padding: 0 10px;
    
}
.muestra-datos h4{
    margin-bottom: 20px;
    text-align:left
}

.muestra-precio{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.pr-ahora{
    font-size: 14px;
    color: #F2994A;
    font-weight: 600;
    line-height: 17.07px;
    margin-right: 20px;
}

.pr-antes{
    font-size: 10px;
    color:  #4E5150;
    font-weight: 600;
    line-height: 12px;
}

.muestra-input {
    display: flex;
    height: 60px;
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border : 1px solid #828282;
}
.muestra-datos input{
    width: 30%;
    height: 50px;
    border: none;
    background-color: #F2F2F2;
    outline: none;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.btn-menos, .btn-mas{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #E0E0E0;
    border: none;
    color:  #828282;
}

/* PRECIO ********************************/

hr {
    color: #BDBDBD;
}
.shiping, .total{
    display: flex;
    justify-content: space-between;
}
.contenedor-precio{
    font-size: 14px;
    font-weight: 600;
}
.contenedor-muestra {
    margin-bottom: 40px
}

placeholder::before{

    content: "a";

}

/* CONTACTO *******************/

.info-contacto {
    text-align: left;
    margin-bottom:30px
}
.info-contacto h3 {
    margin-bottom:20px
}

.info-contacto p {
    margin-bottom:5px;
    font-size: 10px;
    font-weight: 600;
} 
.info-contacto input {
    width: 100%;
    border-radius: 12px;
    border:1px solid #828282;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;

}

/******DIRECCION*******************/
.info-direccion{
    text-align: left;
    margin-bottom:30px
}
.info-direccion h3 {
    margin-bottom:20px
}
.info-direccion p {
    margin-bottom:5px;
    font-size: 10px;
    font-weight: 600;
} 
.info-direccion input {
    width: 100%;
    border-radius: 12px;
    border:1px solid #828282;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;
}

.info-pais-cpostal{
    display: flex;
    justify-content:space-between;
}
.info-pais-cpostal div{
    display: flex;
    flex-direction: column;
}

.info-pais-cpostal input {
    width: 99%;
}

.checkbox {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.checkbox input {
    width: 15px;
    height: 15px;
    margin: 0;
}
.checkbox p {
    font-size: 10px;
    font-weight: 600;
    padding: 5px;
    margin: 0;
    
}

.conten-btn{
    display: flex;
    justify-content:flex-end;
    width: 100%;
}

.enviar{
    background-color: #F2994A;
    border-radius: 12px;
    padding: 20px 50px;
    border: none;
    font-size: 16px;
    color: white;
}

/* MEDIAQUERYS *******************/

@media (min-width:1024px) {
    .contenedor-muestra{
        float: right;
        width: 40%;
    }
    .info-contacto{
        width: 40%;
    }
    .info-direccion{
        width: 40%;
    }
    .todo {
        margin-top: 80px;
    }


}




